--
-- PostgreSQL database dump
--

\restrict oeOg17SMHYUmDmRJ6B0ZQa9xgM32RAlKcfUC4DJcoWCZFdEVH5iWyC5OmUTaRIE

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: comment_likes; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.comment_likes (
    comment_id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.comment_likes OWNER TO weatheruser;

--
-- Name: comment_reports; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.comment_reports (
    id uuid NOT NULL,
    comment_id uuid,
    reporter_id uuid,
    reason text,
    status character varying(20),
    priority character varying(10),
    priority_score integer,
    created_at timestamp with time zone
);


ALTER TABLE public.comment_reports OWNER TO weatheruser;

--
-- Name: forum_comments; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.forum_comments (
    id uuid NOT NULL,
    post_id uuid NOT NULL,
    author_id uuid NOT NULL,
    parent_id uuid,
    body text NOT NULL,
    ai_approved boolean,
    ai_reason text,
    is_deleted boolean,
    likes_count integer,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.forum_comments OWNER TO weatheruser;

--
-- Name: forum_posts; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.forum_posts (
    id uuid NOT NULL,
    author_id uuid NOT NULL,
    title character varying(300) NOT NULL,
    body text NOT NULL,
    category character varying(50) NOT NULL,
    governorate character varying(100),
    risk_level character varying(20),
    image_url text,
    ai_approved boolean,
    ai_reason text,
    ai_checked_at timestamp with time zone,
    likes_count integer,
    comments_count integer,
    shares_count integer,
    is_published boolean,
    is_deleted boolean,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.forum_posts OWNER TO weatheruser;

--
-- Name: forum_users; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.forum_users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password text NOT NULL,
    display_name character varying(100),
    avatar_url text,
    bio text,
    governorate character varying(100),
    role character varying(20),
    is_active boolean,
    is_banned boolean,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.forum_users OWNER TO weatheruser;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.messages (
    id uuid NOT NULL,
    sender_id uuid NOT NULL,
    receiver_id uuid NOT NULL,
    body text NOT NULL,
    is_read boolean,
    created_at timestamp with time zone
);


ALTER TABLE public.messages OWNER TO weatheruser;

--
-- Name: ml_models; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.ml_models (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    version character varying(20) NOT NULL,
    algorithm character varying(100) NOT NULL,
    description text,
    status character varying(20),
    score double precision,
    metrics text,
    hyperparams text,
    mlflow_run_id character varying(100),
    mlflow_model_uri character varying(500),
    file_path character varying(500),
    is_active boolean,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.ml_models OWNER TO weatheruser;

--
-- Name: news_articles; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.news_articles (
    id uuid NOT NULL,
    source_name character varying(100) NOT NULL,
    source_url text NOT NULL,
    title character varying(400) NOT NULL,
    body text,
    category character varying(50),
    governorates character varying[],
    risk_level character varying(20),
    scraped_at timestamp with time zone,
    published_at timestamp with time zone,
    likes_count integer,
    comments_count integer,
    shares_count integer
);


ALTER TABLE public.news_articles OWNER TO weatheruser;

--
-- Name: news_comment_likes; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.news_comment_likes (
    comment_id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.news_comment_likes OWNER TO weatheruser;

--
-- Name: news_comments; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.news_comments (
    id uuid NOT NULL,
    article_id uuid NOT NULL,
    author_id uuid NOT NULL,
    parent_id uuid,
    body text NOT NULL,
    ai_approved boolean,
    ai_reason text,
    ai_checked_at timestamp with time zone,
    is_deleted boolean,
    likes_count integer,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.news_comments OWNER TO weatheruser;

--
-- Name: news_reactions; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.news_reactions (
    article_id uuid NOT NULL,
    user_id uuid NOT NULL,
    emoji character varying(10),
    created_at timestamp with time zone
);


ALTER TABLE public.news_reactions OWNER TO weatheruser;

--
-- Name: news_shares; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.news_shares (
    id uuid NOT NULL,
    article_id uuid,
    user_id uuid,
    created_at timestamp with time zone
);


ALTER TABLE public.news_shares OWNER TO weatheruser;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    actor_id uuid,
    type character varying(50) NOT NULL,
    post_id uuid,
    comment_id uuid,
    news_article_id uuid,
    message text,
    is_read boolean,
    created_at timestamp with time zone,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['post_like'::character varying, 'post_comment'::character varying, 'post_share'::character varying, 'post_approved'::character varying, 'post_rejected'::character varying, 'comment_like'::character varying, 'new_follower'::character varying, 'user_report_resolved'::character varying, 'post_report_resolved'::character varying, 'news_update'::character varying])::text[])))
);


ALTER TABLE public.notifications OWNER TO weatheruser;

--
-- Name: post_likes; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.post_likes (
    post_id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.post_likes OWNER TO weatheruser;

--
-- Name: post_media; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.post_media (
    id uuid NOT NULL,
    post_id uuid NOT NULL,
    file_url text NOT NULL,
    file_type character varying(20) NOT NULL,
    mime_type character varying(100),
    file_name character varying(300),
    created_at timestamp with time zone
);


ALTER TABLE public.post_media OWNER TO weatheruser;

--
-- Name: post_reports; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.post_reports (
    id uuid NOT NULL,
    post_id uuid,
    reporter_id uuid,
    reason text,
    status character varying(20),
    priority character varying(10),
    priority_score integer,
    created_at timestamp with time zone
);


ALTER TABLE public.post_reports OWNER TO weatheruser;

--
-- Name: post_shares; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.post_shares (
    id uuid NOT NULL,
    post_id uuid,
    user_id uuid,
    created_at timestamp with time zone
);


ALTER TABLE public.post_shares OWNER TO weatheruser;

--
-- Name: priority_feedback; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.priority_feedback (
    id uuid NOT NULL,
    input_text text NOT NULL,
    ai_predicted_priority character varying(10) NOT NULL,
    ai_predicted_score integer NOT NULL,
    ai_probabilities text,
    admin_corrected_priority character varying(10) NOT NULL,
    notes text,
    admin_email character varying(255),
    is_used_in_training boolean,
    created_at timestamp with time zone
);


ALTER TABLE public.priority_feedback OWNER TO weatheruser;

--
-- Name: user_blocks; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.user_blocks (
    blocker_id uuid NOT NULL,
    blocked_id uuid NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.user_blocks OWNER TO weatheruser;

--
-- Name: user_follows; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.user_follows (
    follower_id uuid NOT NULL,
    following_id uuid NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.user_follows OWNER TO weatheruser;

--
-- Name: user_reports; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.user_reports (
    id uuid NOT NULL,
    reporter_id uuid,
    reported_id uuid,
    reason text,
    status character varying(20),
    priority character varying(10),
    priority_score integer,
    created_at timestamp with time zone
);


ALTER TABLE public.user_reports OWNER TO weatheruser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: weatheruser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    google_id character varying,
    email character varying NOT NULL,
    name character varying,
    password_hash character varying,
    picture character varying,
    governorate character varying,
    user_type character varying,
    last_login timestamp without time zone,
    is_admin boolean
);


ALTER TABLE public.users OWNER TO weatheruser;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: weatheruser
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO weatheruser;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: weatheruser
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: comment_likes; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.comment_likes (comment_id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: comment_reports; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.comment_reports (id, comment_id, reporter_id, reason, status, priority, priority_score, created_at) FROM stdin;
\.


--
-- Data for Name: forum_comments; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.forum_comments (id, post_id, author_id, parent_id, body, ai_approved, ai_reason, is_deleted, likes_count, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: forum_posts; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.forum_posts (id, author_id, title, body, category, governorate, risk_level, image_url, ai_approved, ai_reason, ai_checked_at, likes_count, comments_count, shares_count, is_published, is_deleted, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: forum_users; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.forum_users (id, username, email, hashed_password, display_name, avatar_url, bio, governorate, role, is_active, is_banned, created_at, updated_at) FROM stdin;
6979abfa-ccae-4bfa-8d2a-ecaa9ae3deae	zahrayessine	zahrayessine@gmail.com	$bcrypt-sha256$v=2,t=2b,r=12$CTSlk1XdFgcE.5FH9QV.Uu$S1LmesztnfU6GwpB1n.3ovTdOinjav2	Zahrat El Oulaa Hamdani	\N	\N	Monastir	\N	\N	\N	\N	2026-05-10 21:30:18.92472+00
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.messages (id, sender_id, receiver_id, body, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: ml_models; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.ml_models (id, name, version, algorithm, description, status, score, metrics, hyperparams, mlflow_run_id, mlflow_model_uri, file_path, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: news_articles; Type: TABLE DATA; Schema: public; Owner: weatheruser
--



--
-- Data for Name: news_comment_likes; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.news_comment_likes (comment_id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: news_comments; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.news_comments (id, article_id, author_id, parent_id, body, ai_approved, ai_reason, ai_checked_at, is_deleted, likes_count, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: news_reactions; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.news_reactions (article_id, user_id, emoji, created_at) FROM stdin;
\.


--
-- Data for Name: news_shares; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.news_shares (id, article_id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.notifications (id, user_id, actor_id, type, post_id, comment_id, news_article_id, message, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.post_likes (post_id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: post_media; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.post_media (id, post_id, file_url, file_type, mime_type, file_name, created_at) FROM stdin;
\.


--
-- Data for Name: post_reports; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.post_reports (id, post_id, reporter_id, reason, status, priority, priority_score, created_at) FROM stdin;
\.


--
-- Data for Name: post_shares; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.post_shares (id, post_id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: priority_feedback; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.priority_feedback (id, input_text, ai_predicted_priority, ai_predicted_score, ai_probabilities, admin_corrected_priority, notes, admin_email, is_used_in_training, created_at) FROM stdin;
\.


--
-- Data for Name: user_blocks; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.user_blocks (blocker_id, blocked_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_follows; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.user_follows (follower_id, following_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_reports; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.user_reports (id, reporter_id, reported_id, reason, status, priority, priority_score, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

COPY public.users (id, google_id, email, name, password_hash, picture, governorate, user_type, last_login, is_admin) FROM stdin;
42	107491986238384607417	zahrayessine@gmail.com	Zahrat El Oulaa Hamdani	\N	https://lh3.googleusercontent.com/a/ACg8ocK84SlW-fz92mBV9bIR-CU4KqjRbjeXy1vn45yOGyjv91b9opr4=s96-c	Monastir	student_parent	2026-05-10 21:30:18.924611	\N
\.


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: weatheruser
--

SELECT pg_catalog.setval('public.users_id_seq', 43, true);


--
-- Name: comment_likes comment_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_pkey PRIMARY KEY (comment_id, user_id);


--
-- Name: comment_reports comment_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.comment_reports
    ADD CONSTRAINT comment_reports_pkey PRIMARY KEY (id);


--
-- Name: forum_comments forum_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.forum_comments
    ADD CONSTRAINT forum_comments_pkey PRIMARY KEY (id);


--
-- Name: forum_posts forum_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.forum_posts
    ADD CONSTRAINT forum_posts_pkey PRIMARY KEY (id);


--
-- Name: forum_users forum_users_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.forum_users
    ADD CONSTRAINT forum_users_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: ml_models ml_models_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.ml_models
    ADD CONSTRAINT ml_models_pkey PRIMARY KEY (id);


--
-- Name: news_articles news_articles_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_articles
    ADD CONSTRAINT news_articles_pkey PRIMARY KEY (id);


--
-- Name: news_articles news_articles_source_url_key; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_articles
    ADD CONSTRAINT news_articles_source_url_key UNIQUE (source_url);


--
-- Name: news_comment_likes news_comment_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_comment_likes
    ADD CONSTRAINT news_comment_likes_pkey PRIMARY KEY (comment_id, user_id);


--
-- Name: news_comments news_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_comments
    ADD CONSTRAINT news_comments_pkey PRIMARY KEY (id);


--
-- Name: news_reactions news_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_reactions
    ADD CONSTRAINT news_reactions_pkey PRIMARY KEY (article_id, user_id);


--
-- Name: news_shares news_shares_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_shares
    ADD CONSTRAINT news_shares_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: post_likes post_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_pkey PRIMARY KEY (post_id, user_id);


--
-- Name: post_media post_media_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_media
    ADD CONSTRAINT post_media_pkey PRIMARY KEY (id);


--
-- Name: post_reports post_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_reports
    ADD CONSTRAINT post_reports_pkey PRIMARY KEY (id);


--
-- Name: post_shares post_shares_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_shares
    ADD CONSTRAINT post_shares_pkey PRIMARY KEY (id);


--
-- Name: priority_feedback priority_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.priority_feedback
    ADD CONSTRAINT priority_feedback_pkey PRIMARY KEY (id);


--
-- Name: user_blocks user_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_pkey PRIMARY KEY (blocker_id, blocked_id);


--
-- Name: user_follows user_follows_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_follows
    ADD CONSTRAINT user_follows_pkey PRIMARY KEY (follower_id, following_id);


--
-- Name: user_reports user_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_google_id_key; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_key UNIQUE (google_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_forum_users_email; Type: INDEX; Schema: public; Owner: weatheruser
--

CREATE UNIQUE INDEX ix_forum_users_email ON public.forum_users USING btree (email);


--
-- Name: ix_forum_users_username; Type: INDEX; Schema: public; Owner: weatheruser
--

CREATE UNIQUE INDEX ix_forum_users_username ON public.forum_users USING btree (username);


--
-- Name: ix_ml_models_name; Type: INDEX; Schema: public; Owner: weatheruser
--

CREATE INDEX ix_ml_models_name ON public.ml_models USING btree (name);


--
-- Name: ix_news_articles_risk_level; Type: INDEX; Schema: public; Owner: weatheruser
--

CREATE INDEX ix_news_articles_risk_level ON public.news_articles USING btree (risk_level);


--
-- Name: ix_news_articles_scraped_at; Type: INDEX; Schema: public; Owner: weatheruser
--

CREATE INDEX ix_news_articles_scraped_at ON public.news_articles USING btree (scraped_at);


--
-- Name: comment_likes comment_likes_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.forum_comments(id) ON DELETE CASCADE;


--
-- Name: comment_likes comment_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.comment_likes
    ADD CONSTRAINT comment_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: comment_reports comment_reports_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.comment_reports
    ADD CONSTRAINT comment_reports_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.forum_comments(id) ON DELETE CASCADE;


--
-- Name: comment_reports comment_reports_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.comment_reports
    ADD CONSTRAINT comment_reports_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: forum_comments forum_comments_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.forum_comments
    ADD CONSTRAINT forum_comments_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: forum_comments forum_comments_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.forum_comments
    ADD CONSTRAINT forum_comments_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.forum_comments(id) ON DELETE CASCADE;


--
-- Name: forum_comments forum_comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.forum_comments
    ADD CONSTRAINT forum_comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.forum_posts(id) ON DELETE CASCADE;


--
-- Name: forum_posts forum_posts_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.forum_posts
    ADD CONSTRAINT forum_posts_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: messages messages_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: news_comment_likes news_comment_likes_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_comment_likes
    ADD CONSTRAINT news_comment_likes_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.news_comments(id) ON DELETE CASCADE;


--
-- Name: news_comment_likes news_comment_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_comment_likes
    ADD CONSTRAINT news_comment_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: news_comments news_comments_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_comments
    ADD CONSTRAINT news_comments_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.news_articles(id) ON DELETE CASCADE;


--
-- Name: news_comments news_comments_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_comments
    ADD CONSTRAINT news_comments_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: news_comments news_comments_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_comments
    ADD CONSTRAINT news_comments_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.news_comments(id) ON DELETE CASCADE;


--
-- Name: news_reactions news_reactions_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_reactions
    ADD CONSTRAINT news_reactions_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.news_articles(id) ON DELETE CASCADE;


--
-- Name: news_reactions news_reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_reactions
    ADD CONSTRAINT news_reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: news_shares news_shares_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_shares
    ADD CONSTRAINT news_shares_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.news_articles(id) ON DELETE CASCADE;


--
-- Name: news_shares news_shares_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.news_shares
    ADD CONSTRAINT news_shares_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.forum_users(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.forum_comments(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_news_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_news_article_id_fkey FOREIGN KEY (news_article_id) REFERENCES public.news_articles(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.forum_posts(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: post_likes post_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.forum_posts(id) ON DELETE CASCADE;


--
-- Name: post_likes post_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: post_media post_media_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_media
    ADD CONSTRAINT post_media_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.forum_posts(id) ON DELETE CASCADE;


--
-- Name: post_reports post_reports_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_reports
    ADD CONSTRAINT post_reports_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.forum_posts(id) ON DELETE CASCADE;


--
-- Name: post_reports post_reports_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_reports
    ADD CONSTRAINT post_reports_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: post_shares post_shares_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_shares
    ADD CONSTRAINT post_shares_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.forum_posts(id) ON DELETE CASCADE;


--
-- Name: post_shares post_shares_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.post_shares
    ADD CONSTRAINT post_shares_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: user_blocks user_blocks_blocked_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_blocked_id_fkey FOREIGN KEY (blocked_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: user_blocks user_blocks_blocker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_blocker_id_fkey FOREIGN KEY (blocker_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: user_follows user_follows_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_follows
    ADD CONSTRAINT user_follows_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: user_follows user_follows_following_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_follows
    ADD CONSTRAINT user_follows_following_id_fkey FOREIGN KEY (following_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: user_reports user_reports_reported_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_reported_id_fkey FOREIGN KEY (reported_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- Name: user_reports user_reports_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weatheruser
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.forum_users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict oeOg17SMHYUmDmRJ6B0ZQa9xgM32RAlKcfUC4DJcoWCZFdEVH5iWyC5OmUTaRIE

