--
-- PostgreSQL database dump
--

\restrict 0eDj5Fp6AEZ7kgTeuUG4sD2C5vQVDTczs3xhLnaXrg10suPy7hEIz6nwd9sU8zL

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: forum_users; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.forum_users DISABLE TRIGGER ALL;



ALTER TABLE public.forum_users ENABLE TRIGGER ALL;

--
-- Data for Name: forum_posts; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.forum_posts DISABLE TRIGGER ALL;



ALTER TABLE public.forum_posts ENABLE TRIGGER ALL;

--
-- Data for Name: forum_comments; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.forum_comments DISABLE TRIGGER ALL;



ALTER TABLE public.forum_comments ENABLE TRIGGER ALL;

--
-- Data for Name: comment_likes; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.comment_likes DISABLE TRIGGER ALL;

COPY public.comment_likes (comment_id, user_id, created_at) FROM stdin;
68945e9c-5eca-4ab8-af5c-f5faaddc0edc	dbb5a62c-976a-404f-aade-16ce3b57af39	2026-04-13 16:19:10.025805+00
1702df90-f34c-4e1f-9a00-f7ebb5ad9346	dbb5a62c-976a-404f-aade-16ce3b57af39	2026-05-07 11:06:01.803727+00
\.


ALTER TABLE public.comment_likes ENABLE TRIGGER ALL;

--
-- Data for Name: comment_reports; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.comment_reports DISABLE TRIGGER ALL;



ALTER TABLE public.comment_reports ENABLE TRIGGER ALL;

--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.messages DISABLE TRIGGER ALL;

COPY public.messages (id, sender_id, receiver_id, body, is_read, created_at) FROM stdin;
b0ab6fe0-0c6e-4dbe-9e7f-40e3cf045694	9d60f638-cc29-4722-909a-3850bc861de3	dbb5a62c-976a-404f-aade-16ce3b57af39	hello zahra	f	2026-05-07 14:55:59.971494+00
4aaa03a4-5eda-46ae-a46c-8000494affd2	dbb5a62c-976a-404f-aade-16ce3b57af39	9d60f638-cc29-4722-909a-3850bc861de3	hi !	f	2026-05-07 14:57:03.401204+00
938d2cde-9d34-4d3f-b4b2-a84c04194975	dbb5a62c-976a-404f-aade-16ce3b57af39	9d60f638-cc29-4722-909a-3850bc861de3	can we discuss later ?	f	2026-05-09 17:47:45.745766+00
\.


ALTER TABLE public.messages ENABLE TRIGGER ALL;

--
-- Data for Name: ml_models; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.ml_models DISABLE TRIGGER ALL;



ALTER TABLE public.ml_models ENABLE TRIGGER ALL;

--
-- Data for Name: news_articles; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.news_articles DISABLE TRIGGER ALL;



ALTER TABLE public.news_articles ENABLE TRIGGER ALL;

--
-- Data for Name: news_comments; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.news_comments DISABLE TRIGGER ALL;

COPY public.news_comments (id, article_id, author_id, parent_id, body, ai_approved, ai_reason, ai_checked_at, is_deleted, likes_count, created_at, updated_at) FROM stdin;
\.


ALTER TABLE public.news_comments ENABLE TRIGGER ALL;

--
-- Data for Name: news_comment_likes; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.news_comment_likes DISABLE TRIGGER ALL;

COPY public.news_comment_likes (comment_id, user_id, created_at) FROM stdin;
\.


ALTER TABLE public.news_comment_likes ENABLE TRIGGER ALL;

--
-- Data for Name: news_reactions; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.news_reactions DISABLE TRIGGER ALL;

COPY public.news_reactions (article_id, user_id, emoji, created_at) FROM stdin;
\.


ALTER TABLE public.news_reactions ENABLE TRIGGER ALL;

--
-- Data for Name: news_shares; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.news_shares DISABLE TRIGGER ALL;

COPY public.news_shares (id, article_id, user_id, created_at) FROM stdin;
\.


ALTER TABLE public.news_shares ENABLE TRIGGER ALL;

--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.notifications DISABLE TRIGGER ALL;



ALTER TABLE public.notifications ENABLE TRIGGER ALL;

--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.post_likes DISABLE TRIGGER ALL;



ALTER TABLE public.post_likes ENABLE TRIGGER ALL;

--
-- Data for Name: post_media; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.post_media DISABLE TRIGGER ALL;

COPY public.post_media (id, post_id, file_url, file_type, mime_type, file_name, created_at) FROM stdin;
794dd900-4d1e-467c-b055-9c7a3bb2c323	d0fce72d-19dd-4f6c-b89c-6647516ee803	/api/forum/uploads/1778063414_3880204b_2022_0708-mutual-aid-scaled.jpg.jpg	image	image/jpeg	1778063414_3880204b_2022_0708-mutual-aid-scaled.jpg.jpg	2026-05-06 10:30:35.447064+00
9218edea-eb47-42c9-8aa2-72fa2b0aad81	fab6a3e3-982b-41d5-b288-59b7d6a55538	/api/forum/uploads/1778063777_bfc7b715_sfax.jpg.jpg	image	image/jpeg	1778063777_bfc7b715_sfax.jpg.jpg	2026-05-06 10:36:41.153621+00
\.


ALTER TABLE public.post_media ENABLE TRIGGER ALL;

--
-- Data for Name: post_reports; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.post_reports DISABLE TRIGGER ALL;



ALTER TABLE public.post_reports ENABLE TRIGGER ALL;

--
-- Data for Name: post_shares; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.post_shares DISABLE TRIGGER ALL;



ALTER TABLE public.post_shares ENABLE TRIGGER ALL;

--
-- Data for Name: priority_feedback; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.priority_feedback DISABLE TRIGGER ALL;



ALTER TABLE public.priority_feedback ENABLE TRIGGER ALL;

--
-- Data for Name: user_blocks; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.user_blocks DISABLE TRIGGER ALL;

COPY public.user_blocks (blocker_id, blocked_id, created_at) FROM stdin;
\.


ALTER TABLE public.user_blocks ENABLE TRIGGER ALL;

--
-- Data for Name: user_follows; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.user_follows DISABLE TRIGGER ALL;

COPY public.user_follows (follower_id, following_id, created_at) FROM stdin;
dbb5a62c-976a-404f-aade-16ce3b57af39	9d60f638-cc29-4722-909a-3850bc861de3	2026-05-07 14:36:13.57304+00
9d60f638-cc29-4722-909a-3850bc861de3	dbb5a62c-976a-404f-aade-16ce3b57af39	2026-05-07 14:55:41.585838+00
dbb5a62c-976a-404f-aade-16ce3b57af39	a59e374d-1c43-4869-8e80-70ed78fe3ebb	2026-05-07 15:18:27.016693+00
\.


ALTER TABLE public.user_follows ENABLE TRIGGER ALL;

--
-- Data for Name: user_reports; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.user_reports DISABLE TRIGGER ALL;



ALTER TABLE public.user_reports ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: weatheruser
--

ALTER TABLE public.users DISABLE TRIGGER ALL;



ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: weatheruser
--

SELECT pg_catalog.setval('public.users_id_seq', 488, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 0eDj5Fp6AEZ7kgTeuUG4sD2C5vQVDTczs3xhLnaXrg10suPy7hEIz6nwd9sU8zL

